<header class="sticky top-0 z-50 bg-primary text-white shadow-md">
  <div class="max-w-[1440px] mx-auto px-6 h-16 flex items-center justify-between">

    <!-- Logo -->
    <a routerLink="/" class="flex items-center gap-3 hover:opacity-90 transition-opacity">
      <div class="bg-white/20 p-1.5 rounded-lg">
        <span class="material-symbols-outlined text-white text-2xl">task_alt</span>
      </div>
      <h1 class="text-xl font-bold tracking-tight">TaskFlow</h1>
    </a>

    <!-- Right section -->
    <div class="flex items-center gap-4">

      <div class="h-8 w-px bg-white/20 hidden sm:block"></div>

      <!-- User menu -->
      <div class="relative"  *ngIf="user$ | async as user">
        <button
          (click)="toggleDropdown()"
          class="flex items-center gap-3 p-1.5 pl-3 hover:bg-white/10 rounded-full"
        >
          <span class="text-sm font-medium hidden lg:block">
            {{ user.name }}
          </span>

             <div
            class="size-8 rounded-full bg-cover bg-center ring-2 ring-white/30"
            [ngStyle]="{ 'background-image': user.avatarUrl ? 'url(' + user.avatarUrl + ')' : 'url(assets/default-avatar.svg)' }"
          ></div>

          <span class="material-symbols-outlined text-sm hidden sm:block">
            expand_more
          </span>
        </button>

        <!-- Dropdown -->
        <div
          *ngIf="dropdownOpen"
          class="absolute right-0 mt-2 w-64 bg-white rounded-xl user-dropdown border border-gray-100"
        >
          <div class="p-4 border-b">
            <p class="text-sm font-bold text-gray-900">
              {{ user.name }}
            </p>
            <p class="text-xs text-gray-500 mt-1">
              {{ user.email }}
            </p>
          </div>

          <div class="p-2 border-t">
            <button
              (click)="logout()"
              class="w-full flex items-center gap-3 px-3 py-2 text-sm text-rose-600 hover:bg-rose-50 rounded-lg"
            >
              <span class="material-symbols-outlined">logout</span>
              Logout
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
